/* Full-width input fields */
input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: black;
}

/* Set a style for all buttons */
button {
    color: white;
    border: none;
    cursor: pointer;
}

.signupbtn {
    color: white;
    padding: 10px 22px 10px 22px;
    margin: 10px 0 20px 460px;
    background-color: #e68a57;
    font-size: 17px;
    border-radius: 5px;
    box-shadow: inset 0 0 30px rgb(255, 105, 105);
}

/* Add padding to container elements */
.container {
    margin-top: 50px;
}

form {
    border-style: ridge;
    border-width: 2px;
    border-radius: 10px;
    margin: 70px 100px 0 300px;
    padding: 0 20px 10px 50px;
    width: 700px;
    background-color: #292c2f;
    color: white;

}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-image: url("https://i.pinimg.com/originals/78/41/a9/7841a9b73b7a1b39d7a379fb405b14be.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
